

{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container pt-2">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">{% trans "Popular products" %}</h3>
</header><!-- sect-heading -->


<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">$ {{ product.price }}</div> <!-- price-wrap.// -->
				<div class="rating-star">
					<span>
						<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
						</span>
				</div>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->
<h3 class="section-title">{% trans "News" %}</h3>
<div class="row mt-5">
    {% for n in news %}
    <div class="col-sm-6 col-md-4 col-xl-3 mb-1">
      <div class="card news-card">
        <div class="row">
          <div class="col">
            <div class="card-img-holder">
              <a href="{% url 'news_details' n.id %}">
             
                 {% if n.news_img %}
                <img
                  src="{{ n.news_img.url }}"
                  alt="{{ n.title }} image"
                  class="card-img-top"
                />
                {% else %}
                <p>no images</p> 
				{% endif %}
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="{% url 'news_details' n.id %}">
              <div class="card-body text-center void">
                <h5 class="card-title">{{ n.title }}</h5>
                <p class="card-origins"><em>by {{ n.author }}</em></p>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="{% url 'news_details' n.id %}" class="btn btn-view"
              ><span class="d-none d-lg-inline-block">{% trans "View" %} </span>
              <i class="fas fa-eye"></i
            ></a>
            {% if request.user.is_superuser %}
            <a href="#" class="btn btn-edit"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-delete"
              ><i class="fas fa-trash-alt"></i
            ></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:1 %}
    <div class="col-12 d-sm-none">
      <hr class="menus my-3" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:2 %}
    <div class="col-12 d-none d-sm-block d-md-none">
      <hr class="menus my-3" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:3 %}
    <div class="col-12 d-none d-md-block d-xl-none">
      <hr class="menus my-3" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:4 %}
    <div class="col-12 d-none d-xl-block">
      <hr class="menus my-3" />
    </div>
    {% endif %} {% endfor %}
  </div>
</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}
