
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">



</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container pt-2">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">{% trans "See all" %}</a>
	<h3 class="section-title text-center">	
        <p>{% trans "Invoice page" %}</p>
    

    
    </h3>
</header><!-- sect-heading -->


</div> 
{% endblock %}